@import "vars";

body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

a {
    color: $accent;
}

p {
    color: $font;
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

div {
    box-sizing: border-box;
    color: $font;
}

div {
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none !important;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    outline: none;
    box-shadow: none;
    border: 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    display: inline-block;
    color: $font2;
    background: $white;
    padding: 15px 26px;
    text-decoration: none;
    @media (max-width: 500px) {
        padding: 8px 18px;
        font-size: 16px;
    }
    &:hover,
    &:active {
        color: $accent;
        transition: color 0.5s;
    }
}

.btn-language {
    height: 55px;
    color: $font3;
    padding: 16px 15px;
    @media (max-width: 500px) {
        height: 40px;
        padding: 8px 10px;
    }
    &:hover,
    &:active {
        color: $font2;
    }
}

.btn-login {
    height: 55px;
    @media (max-width: 500px) {
        height: 40px;
    }
}

.art-button {
    background: linear-gradient(264.09deg, #FF9900 1.4%, #FAB323 49.02%, #FF9900 98.85%);
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2), inset 0px 2px 5px #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    height: 100px;
    color: $white;
    max-width: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 500px) {
        max-width: 300px;
        height: 80px;
        font-size: 18px;
    }
    & span {
        margin-right: 30px;
    }
    & img {
        @media (max-width: 500px) {
            width: 31px;
            height: auto;
        }
    }
    &:hover,
    &:active {
        background: linear-gradient(264.09deg, #F76800 1.4%, #F49608 49.02%, #F66800 98.85%);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2),inset 0px 2px 5px #FFFFFF;
        color: $white;
        transition: all 0.5s;
    }
}

.art-button-2 {
    background: linear-gradient(264.09deg, #FF9900 1.4%, #FAB323 49.02%, #FF9900 98.85%);
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2), inset 0px 2px 5px #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    /*height: 80px;*/ 
    height: 60px;
    color: $white;
    max-width: 217px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 500px) {
        max-width: 190px;
        height: 60px;
        font-size: 16px;
    }
    & img {
        margin-left: 21px;
        @media (max-width: 500px) {
            margin-left: 17px;
        }
    }
    &:hover,
    &:active {
        background: linear-gradient(264.09deg, #F76800 1.4%, #F49608 49.02%, #F66800 98.85%);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2),inset 0px 2px 5px #FFFFFF;
        color: $white;
        transition: all 0.5s;
    }
}

.art-button-3 {
    background: transparent;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    height: 80px;
    color: #ff9900;
    border: 1px solid #ff9900;
    max-width: 217px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 500px) {
        max-width: 190px;
        height: 60px;
        font-size: 16px;
    }
    &:hover,
    &:active {
        border-color: #e15100;
        color: #e15100;
        transition: all 0.5s;
    }
}

/* header */ 

section.top {
    position: relative;
    & .top-bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

.header-wrap {
    max-width: 1796px;
    margin: 0 auto 43px;
    padding: 40px 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 1600px) {
        margin-bottom: 0;
        padding: 30px 20px 10px;
    }
    @media (max-width: 710px) {
        padding: 25px 10px;
        margin: 0 auto 32px;
    }
    & .logo-block {
        @media (min-width: 1499px) {
            max-width: 382px;
            width: 100%;
        }
       
    }
    & .logo {
        @media (max-width: 500px) {
            width: 142px;
            height: auto;
            display: block;
        }
    }
}

.header-links {
    display: flex;
    @media (max-width: 1199px) {
        display: none;
    }
    & a {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: $font2;
        text-decoration: none;
        transition: 0.5s;
        padding: 0 25px; 
        &:hover {
            color: $hover;
            transition: 0.5s;
        }
        &:active,
        &.active {
            color: $accent;
        }
    }
}

.header-links .soon {
    position: relative;
    & .soon-text {    
        position: absolute;
        top: 23px;
        left: 25px;
        background: #FFFFFF;
        border-radius: 5px;
        color: #242424;
        font-size: 12px;
        padding: 7px 20px;
        width: 127px;
        height: 0;
        opacity: 0;
        z-index: -1;
        overflow: hidden;
    }
    &:hover .soon-text {
        opacity: 1;
        z-index: 1;
        height: 38px;
        transition: height 0.5s;

    }
}

.header-info {
    align-items: center;
    justify-content: flex-end;
    @media (min-width: 1199px) {
        max-width: 382px;
        width: 100%;
    }
    & .btn-login {
        margin-right: 10px;
        @media (max-width: 500px) {
            margin-right: 5px;
        }
    }
    & .header-contacts {
        @media(max-width: 710px) {
            display: none;
        }
    }
}

.top-contacts {
    & .header-contacts {
        display: none;
        background: $white;
        @media(max-width: 710px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            width: 100%;
        }
    }
}

.header-contacts {
    margin-right: 21px;
    & .phone {
        display: block;
        font-weight: 700;
        font-size: 22px;
        line-height: 130%;
        text-align: right;
        text-decoration: none;
        color: $font2;
        @media(max-width: 500px) {
            font-size: 17px;
        }
    }
    & .mail {
        display: block;
        text-align: right;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: $accent;
        text-decoration: none;
        @media(max-width: 500px) {
            font-size: 16px;
        }
    }
}

/* header end */ 

.banner-h1 {
    max-width: 748px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    & span {
        font-weight: 400;
        font-size: 73px;
        line-height: 130%;
        @media (max-width: 1199px) {
            font-size: 60px;
        }
        @media (max-width: 991px) {
            font-size: 50px;
        }
        @media (max-width: 710px) {
            font-size: 29px;
        }
    }
}

.banner-h1-img {
    display: block; 
    background: #C5E5F5;
    box-shadow: inset 0px 2px 3px #5090AF;
    border-radius: 79.3112px;
    width: 102.45px;
    height: 71.33px;
    margin: 0 16px;
    position: relative;
    @media (max-width: 710px) {
        width: 41.77px;
        height: 29.08px;
        border-radius: 32.335px;
        box-shadow: inset 0px 0.815395px 1.22309px #5090AF;
        margin: 0 6px;
        top: 1px;
    }
    & img {
        position: absolute;
        top: 7.7px;
        left: 7.7px;
        @media (max-width: 710px) {
            width: 22.7px;
            height: auto;
            top: 3.2px;
            left: 3.2px;
        }
    }
}

.banner-img {
    max-width: 1920px;
    margin: -106px auto 0;
    height: 465px;
    position: relative;
    @media (max-width: 1199px) {
        margin: -76px auto 0;
        height: 358px;
    }
    @media (max-width: 991px) {
        margin: -44px auto 0;
        height: 322px;
    }
    @media (max-width: 710px) {
        margin: -42px auto 0;
        height: 188px;
    }
    @media (max-width: 500px) {
        margin: -35px auto 0;
        height: 161px;
    }
    @media (max-width: 400px) {
        margin: -24px auto 0;
        height: 127px;
    }
    & img {
        position: absolute;
        max-width: 1920px;
        width: 1920px;
        top: 0;
        left: 50%;
        margin-left: -960px;
        @media (max-width: 1600px) {
            max-width: 1800px;
            width: 1800px;
            margin-left: -900px;
        }
        @media (max-width: 1199px) {
            width: 1480px;
            margin-left: -740px;
        }
        @media (max-width: 991px) {
            width: 1000px;
            margin-left: -500px;
        }
        @media (max-width: 710px) {
            width: 800px;
            margin-left: -400px;
        }
        @media (max-width: 500px) {
            width: 660px;
            margin-left: -330px;
        }
        @media (max-width: 400px) {
            width: 506px;
            margin-left: -253px;
        }
    }
}

.banner-text {
    font-weight: 300;
    font-size: 28px;
    line-height: 150%;
    color: $font;
    max-width: 824px;
    text-align: center;
    margin: -122px auto 54px;
    @media (max-width: 1600px) {
        margin: -140px auto 32px;
    }
    @media (max-width: 1199px) {
        font-size: 24px;
        max-width: 682px;
        margin: -75px auto 48px;
        padding: 0 10px;
    }
    @media (max-width: 710px) {
        font-size: 18px;
        max-width: 420px;
        margin: -8px auto 30px;
    }
    @media (max-width: 500px) {
        max-width: 280px;
    }
}

.banner-btn {
    text-align: center;
    padding-bottom: 165px;
    @media (max-width: 1600px) {
        padding-bottom: 120px;
    }
    @media (max-width: 710px) {
        padding-bottom: 120px;
    }
    @media (max-width: 500px) {
        padding-bottom: 99px;
    }
    & .art-button {
        margin: 0 auto;
    }
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sc-down {
    position: absolute;
    width: 123.12px;
    height: 123.4px;
    bottom: 153px;
    right: 73px;
    @media (max-width: 991px) {
        display: none;
    }
    & .sc-down-arrow {
        position: absolute;
        z-index: 2;
        top: 42px;
        left: 46px;
    }
    & .sc-down-text {
        -webkit-animation: rotate-round 10s ease-in-out infinite;
        -moz-animation: rotate-round 10s ease-in-out infinite;
        -ms-animation: rotate-round 10s ease-in-out infinite;
        -o-animation: rotate-round 10s ease-in-out infinite;
        animation: rotate-round 10s ease-in-out infinite;
    }
}

@-webkit-keyframes rotate-round {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes rotate-round {
    100% {
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.blocks {
    position: relative;
    & .blocks-bg {
        position: absolute;
        top: -594px;
        left: 0;
        z-index: -1;
        overflow: hidden;
        width: 1263px;
        height: 1660px;
        @media (max-width: 1366px) {
            display: none;
        }
    }
}

.cards-wrap {
    justify-content: space-between;
    margin-bottom: 140px;
    @media (max-width: 1199px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    @media (max-width: 500px) {
        margin-bottom: 81px;
    }
}

.card {
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    width: 100%;
    /*max-width: 550px;
    padding: 52px 48px;*/ 
    max-width: 365px;
    padding: 28px 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    @media (max-width: 1199px) {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media (max-width: 500px) {
        padding: 18px 14px;
    }
}

.cards-wrap-sm {
    flex-wrap: wrap;
    & .card {
        margin-bottom: 40px;
        @media (max-width: 992px) {
            margin-bottom: 15px;
        }
    }
    & .card-price {
        color: #242424;
        font-size: 26px;
        font-weight: 700;
        line-height: 130%;
        @media (min-width: 992px) {
            font-size: 32px;
        }
    }
    & .card-price-line {
        align-items: center;
        justify-content: space-between;
    }
    & .card-more a {
        position: relative;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: #199CDE;
        text-decoration: underline;
        @media (min-width: 992px) {
            font-size: 18px;
        }
        &:hover {
            text-decoration: none;
        }
        &::before {
            content:'';
            width: 20px;
            height: 20px;
            position: absolute;
            background: url(../images/question.svg) top center no-repeat;
            background-size: 100%;
            top: -3px;
            left: -24px;
            @media (min-width: 992px) {
                width: 25px;
                height: 25px;
                left: -32px;
            }
        }
    }
    & .art-button-2 {
        font-size: 18px;
    }
    & .card-btn {
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        & > a {
            width: 48%;
        }
    }
}

.card-price-block {
    align-items: center;
    &__new {
        font-weight: 700;
        font-size: 38px;
        line-height: 130%;
        color: #E93030;
        margin-right: 20px;
        @media (max-width: 991px) {
            font-size: 26px;
            margin-right: 14px;
        }
    }
    &__old {
        font-weight: 400;
        font-size: 28px;
        line-height: 130%;
        text-decoration-line: line-through;
        color: #242424;
        @media (max-width: 991px) {
            font-size: 20px;
        }
    }
}

.card-ribbon {
    position: absolute;
    width: 193px;
    height: 32px;
    background: #E93030;
    transform: rotate(45deg);
    top: 31px;
    right: -48px;
    text-align: center;
    @media (max-width: 991px) {
        height: 27px;
        top: 26px;
        right: -56px;
    }
    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #FFFFFF;
        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 26px;
        }
    }
}

.card-wrap {
    margin-top: 24px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: 500px) {
        display: block;
        margin-top: 26px;
        margin-bottom: 22px;
        height: auto;
    }
}

.lg-en .card-wrap {
    height: 406px;
    @media (max-width: 500px) {
        height: auto;
    }
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: $font2;
    margin-bottom: 17px;
    @media (max-width: 500px) {
        font-size: 20px;
        margin-bottom: 11px;
    }
}

.card-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: $accent;
    margin-bottom: 14px;
    @media (max-width: 500px) {
        font-size: 16px;
        margin-bottom: 6px;
    }
}

.card-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: $font;
    flex-grow: 2;
    margin-bottom: 20px;
    @media (max-width: 1600px) {
        font-size: 16px;
        margin-bottom: 15px;
    }
    @media (max-width: 500px) {
        font-size: 14px;
        margin-bottom: 23px;
        margin-bottom: 15px;
    }
}

.footer {
    border-top: 1px solid rgba(34, 34, 34, 0.2);
    padding: 37px 0;
    & .logo {
        width: 165px;
        display: block;
        @media (max-width: 991px) {
            margin: 0 auto;
        }
    }
    & .logo-block {
        @media (min-width: 1199px) {
            width: 240px;
        }
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 27px;
            text-align: center;
        }
    }
}

.footer-wrap {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 991px) {
        justify-content: center;
    }
}

.footer-sotials {
    display: flex;
    & a {
        text-decoration: none;
        border: 2px solid #5E5E5E;
        width: 36px;
        height: 36px;
        display: block;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
        &:hover {
            border: 2px solid $accent;
            transition: 0.5s;
            & svg path {
                fill: $accent;
                transition: 0.5s;
            } 
        }
    }
}

.footer-info {
    text-align: right;
    @media (max-width: 991px) {
        width: 100%;
        text-align: center;
        margin-top: 39px;
    }
    & p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #B4B4B4;
        margin-bottom: 0;
    }
    & a {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-decoration: none;
        color: #B4B4B4;
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background: #B4B4B4;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.content h1 {
    max-width: 748px;
    width: 100%;
    font-weight: 400;
    font-size: 38px;
    line-height: 130%;
    margin-bottom: 60px;
    margin-top: 100px;
    @media (max-width: 991px) {
        font-size: 30px;
    }
    @media (max-width: 710px) {
        font-size: 22px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.content h3 {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 400;
    @media (max-width: 710px) {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.content p {
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #242424;
    margin-bottom: 30px;
    @media (max-width: 710px) {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

.content {
    margin-bottom: 100px;
    @media (max-width: 710px) {
        margin-bottom: 60px;
    }
}

.subscribe {
    border-top: 1px solid rgba(34, 34, 34, 0.2);
    padding: 46px 0;
    @media (max-width: 500px) {
        padding-top: 35px;
        padding-bottom: 83px;
    }
}

.subscribe-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #3B363C;
    margin-bottom: 5px;
    @media (max-width: 500px) {
        font-size: 20px;
        margin-bottom: 6px;
        text-align: center;
    }
}

.subscribe-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #B4B4B4;
    @media (max-width: 500px) {
        text-align: center;
        font-size: 14px;
    }
}

.subscribe-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.subscribe-block {
    max-width: 414px;
    width: 100%;
    @media (max-width: 1100px) {
        max-width: 100%;
        margin-bottom: 26px;
    }
}

.subscribe-form {
    max-width: 594px;
    width: 100%;
    @media (max-width: 1100px) {
        max-width: 100%;
    }
    & form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & .form-group {
            width: calc(100% - 240px);
            @media (max-width: 500px) {
                max-width: 100%;
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}

.fotm-btn .btn {
    width: 217px;
    height: 70px;
    font-size: 18px;
    padding: 21px 40px;
    cursor: pointer;
    @media (max-width: 500px) {
        height: 60px;
        font-size: 16px;
        padding: 19px 20px;
        width: 100%;
        max-width: 400px;
        display: inline-block;
    }
}

.form-group {
    position: relative;
    & input {
        border: 1px solid #C5C5C5;
        border-radius: 5px;
        height: 70px;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        padding: 22px 27px;
        outline: none;
        font-family: 'Inter';
        @media (max-width: 500px) {
            height: 60px;
            font-size: 14px;
            padding: 18px 21px 20px;
        }
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #B4B4B4;
}
::-moz-placeholder { /* Firefox 19+ */
color: #B4B4B4;
}
:-ms-input-placeholder { /* IE 10+ */
color: #B4B4B4;
}
:-moz-placeholder { /* Firefox 18- */
color: #B4B4B4;
}

.fotm-btn {
    @media (max-width: 500px) {
        width: 100%;
        text-align: center;
    }
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.form-group input.is-invalid {
    border: 1px solid red;
    & + .invalid-feedback {
        display: block;
    }
}

.success {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 55;
    &.active {
        display: block;
        & .success-overlay {
            background: rgba(0, 0, 0, 0.7);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
        }
    }
}


.success-wrap {
    width: 420px;
    height: 488px;
    background: url(../images/success-bg.png) top center/cover;
    position: absolute;
    z-index: 55;
    top: 50%;
    left: 50%;
    margin-top: -244px;
    margin-left: -210px;
    @media (max-width: 420px) {
        width: 96%;
        left: 2%;
        margin-left: 0;
        height: 348px;
        margin-top: -174px;
        background: url(../images/success-bg.png) top center;
        background-size: 100% 100%;
    }
}

.success-close {
    position: absolute;
    border: 0;
    background: none;
    outline: none;
    cursor: pointer;
    top: 20px;
    right: 22px;
}

.success-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-inner-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    max-width: 256px;
    margin-top: 40px;
    @media (max-width: 420px) {
        margin-top: 19px;
        font-size: 22px;
        line-height: 130%;
        max-width: 184px;
    }

}

.success-inner-img {
    @media (max-width: 420px) {
        width: 70px;
        height: auto;
    }
}